body {
  margin: 0;
  font-family: 'Mulish', sans-serif;
}

.header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #21c08b;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  top: 0px;
  width: 100%;
}

.header__img {
  margin-left: 30px;
  width: 200px;
}

.registro {
  background: -webkit-gradient(linear, left top, left bottom, from(#21c08b), to(#ab88ff));
  background: linear-gradient(#21c08b, #ab88ff);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0px 30px;
  min-height: calc(100vh - 200px);
}

.data__container {
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid white;
  border-radius: 40px;
  padding: 60px 68px 40px;
  min-height: 700px;
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
}

.data__container--form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.input {
  background-color: transparent;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 2px solid white;
  font-size: 16px;
  font-family: 'Mulish', sans-serif;
  margin-bottom: 20px;
  outline: none;
  height: 50px;
}

::-webkit-input-placeholder {
  color: white;
}

:-ms-input-placeholder {
  color: white;
}

::-ms-input-placeholder {
  color: white;
}

::placeholder {
  color: white;
}

.button {
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 25px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  font-family: 'Mulish', sans-serif;
  height: 50px;
  letter-spacing: 1px;
  margin: 10px 0px;
}

.data__container--sesion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.data__container--sesion a {
  font-size: 16px;
  font-weight: bold;
  font-family: 'Mulish', sans-serif;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.footer {
  background-color: #ab88ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
  width: 100%;
}

.footer a {
  color: white;
  cursor: pointer;
  font-size: 14px;
  padding-left: 30px;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}
/*# sourceMappingURL=stylesRegistro.css.map */