body{
    margin: 0;
    font-family: 'Mulish', sans-serif;  
}

.header {
    align-items: center;
    background-color: #21c08b;
    color: white;
    display: flex;
    height: 100px;
    justify-content: space-between;
    top: 0px;
    width: 100%;  
}

.header__img{
    margin-left: 30px;
    width: 200px;
}

.login{
    background: linear-gradient(#21c08b, #ab88ff);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 30px;
    min-height: calc(100vh - 200px); /*Por mas grande que sea nuestro alto en la pantalla siempre va a tener el valor de height, 
                          calc es una operacion matematica viewport-height medida relativa porcentaje que esta viendo el usuario, 
                          no se vasa en el 100% de la vista sino  unicamente la que esta viendo el usuario. quiero que seva 200%px 
                          eseptuando el tamaño del header y del footer 
                          min-height: Sirve para indicar un tamaño minimo de alto para el elemento.
                          calc() La funcion matematica calc te sirve justamente para realizar operaciones y definir un valor en base 
                          a variables, 100vh = 100% de view height= 100% del alto visible en pantalla. 200px= es el valor que le quita del alto de header
                          , por la intension de ella es centrarlo en base al espacio que queda sin contar la cabecera.*/ 
}

.login__container{
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid white;
    border-radius: 40px;
    color:  white; /* Color del texto blanco */
    padding: 60px 68px 40px;
    min-height: 700px;
    width: 300px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.login__container--form{
    display: flex;
    flex-direction: column;
}

.login__container--form label{
  font-size: 14px;
}

.login__container--remember-me{
    color: white;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.login__container--remember-me a{
    color: white;
    font-size: 14px;
    text-decoration: none;
}

.login__container--remember-me a:hover{
    text-decoration: underline;
}

.login__container--social-media > div{ /* El simbolo > quiere decir que coja todos los div y los estilice*/
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-bottom:  10px;
}

.login__container--social-media > div > img{ /* El simbolo > quiere decir que coja todos los div y los estilice*/
    width: 30px;
    margin-right: 10px;
}

.login__container--register{
    font-size: 14px;
}

.login__container--register a{
    color: white;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
}

.login__container--register a:hover{
    text-decoration: underline;
}

.input{
    background-color: transparent;
    border-left: 0px;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 2px solid white;
    font-size: 16px;
    font-family: 'Mulish', sans-serif;
    margin-bottom: 20px;
    padding: 0px 20px;
    outline: none;
    height: 50px;
}

::placeholder{
    color: white;
}

.button{
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius:25px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Mulish', sans-serif;
    height: 50px;
    letter-spacing: 1px;
    margin: 10px 0px;
}

.footer{
    background-color: #ab88ff;
    display: flex;
    align-items: center;
    height: 100px;
    width: 100%;
}

.footer a{
    color: white;
    cursor: pointer;
    font-size: 14px;
    padding-left: 30px;
    text-decoration: none;
}

.footer a:hover{
    text-decoration: underline;
}

@media only screen and (max-width: 600px){ /* max-width: 600px = Maximo de pantalla que nosotros queremos*/
    .login__container{
        background-color: transparent;
        border: none;
        padding: 0px;
        width: 100%; /* Tamaño de toda la cobertura del celular*/ 
    }

    .footer{
        align-items: flex-start;
        flex-direction: column;
    }
}