body {
    margin: 0px;
    font-family: 'Mulish', sans-serif;
    background-color: #8F57FD;  
}
.header {
    background-color: #8F57FD;
    width: 100%;
    height: 80px; 
    display: flex;
    justify-content: space-between;
    align-items:center;
}
.header__img {
    width: 200px;
    margin-top: 10px;
    margin-left: 10px;
}
.header__menu {
    margin-right: 30px;

}
.header__menu ul {
    display: none; /* No ver la lista Cuenta, Cerrar Sesion*/
    list-style: none; /*Quita las bolitas de los items*/
    padding: 0px;
    position: absolute;
    width: 100px;
    text-align: right;/*Alinear texto a la derecha*/
    margin: 0px 0px 0px -14px;
}
.header__menu:hover ul, ul:hover{ /* ul:hover selecciona el elemento ul cuando esta "mantenido mause"*/
   /*Cuando le hagamos hover a .header__menu va a tomar las propiedades ul, sin embargo al hacer hover al ul va a sucerder lo que vamos a escribir adentro*/
    display: block; /*El elemento se visualiza uno debajo del otro*/
}
.header__menu li {
    margin: 10px 0px; /* 10px va para el top y bottom y 0px va para el left y right*/
}
.header__menu li a{
    color: white;
    text-decoration: none;/* Quitar las lineas que tiene por debajo las a */

}
.header__menu li a:hover{
    text-decoration: underline;/* Poner la linea que tiene por debajo las a*/
}
.header__menu--profile{
    margin-right: 60px;
    display: flex;
    align-items: center;
}

.header__menu--profile img{
   margin-right: 8px;
   width: 40px;
   
}

.header__menu--profile p{
   margin: 0px;
   color: white;
}

.main{
    height: 300px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 0px 0px 40px 40px;
}

.main__title{
    color: white;
    font-size: 25px; /*Dimensión de la letra*/
}

.categories__title{
    color: white;
    font-size: 16px;
    position: absolute;
    padding-left: 30px;
    width: 100%;
}

.input{
    background-color: rgba(255, 255, 255, 0.1) ;
    border: 2px solid white;
    border-radius: 25px; /*Colocar un borde con curvas*/
    color: white; /*Color del texto al escribir en el buscardo*/
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    height: 50px;
    padding: 0px 20px;
    width: 70%;
}

::placeholder{
    color: white;
}

.Carrousel{
    width: 100%; /* Width del 100% para que abarque toda la pantalla*/
    overflow: scroll; /*Con overflow establecemos la propiedad de scroll*/
    padding: 30px; /*Para tener un margen de vista*/
    position: relative;/*Todos los elementos que esten dentro de el se van a posicionar en relación al padre*/

}

.Carrousel::-webkit-scrollbar{ /*Barra de desplazamiento*/ 
    background-color: #8F57FD;
    height: 10px;
    padding-top: 10px;
}

.Carrousel::-webkit-scrollbar-thumb{ /*Barra de scroll*/
    background-color: rgba(255, 255, 255, 0.1);
    border: 20px solid white;
    border-radius: 10px;
}

.Carrousel__container{
    white-space: nowrap;/*wrap significa que estamos envolviendo y nowrap es no envolver. En lista todos los elementos
                         en un solo renglón*/
    margin: 70px 0px; 
    padding-bottom: 10px;/*para evitar que se nos corte el elemento cuando hagamos hover.*/
    
}

.Carrousel-item{
    background-color: palegreen; /*Color, altura, anchura*/
    width: 200px;
    height: 250px;
    border-radius: 20px; /*Que tan curvo queremos nuestro borde*/
    overflow: hidden; /* El desbordamiento se recorta y el resto del contenido sera invisble (caso imagenes)*/ 
    margin-right: 10px; /*Separcion entre elementos*/
    display: inline-block; /*Un item al lado del otro, respetando el width y el height*/
    cursor: pointer;/*Cambia el icono del mouse cuando selecciona el elemento*/
    transition: 450ms all; /*Suaviza la transcision para que se vea agradable*/
    transform-origin: center left;/*Ajusta los elementos para que no se salgan y empiece en el centro de izq a derecha permite modificar el 
                                    origen de las transformacionesde un elemento*/
    position: relative;/* Coger los estilos y ser relativo a ese padre*/
}

.Carrousel-item:hover ~ .Carrousel-item{/*Cuando hagamos hover y cuando este sin el hover. 
                                           virgulilla ~ conjunto de selectores llamados combinadores los cuales permite hacer una combinacion de selectores mas
                                           simples, el segundo elemento sigue al primero ambos comparten el mismo elemento padre.
                                           separa dos selectores y selecciona el segundo elemento solo si esta precedido por el primero y ambos 
                                           comparten un padre comun*/ 
    transform: translate3d(100px, 0, 0); /*Cuando hagamos hover todos los elementos se desplazan hacia la derecha*/
}

.Carrousel__container:hover .Carrousel-item{/*Cuando le haga hover al .Carrousel__container va a tomar los .Carrousel-item y les va a bajar la opacidad*/
    opacity: 0.3;
}

.Carrousel__container:hover .Carrousel-item:hover{/*Unicamente el item, que se encuentre en estado hover recibira los cambios hechos dentro del selector 
                                                    y .Carrousel__container:hover solo indica que el carrousel se encuentra en hover */
    transform: scale(1.5);/*Escala en 1.5 la imagen seleccionada*/
    opacity: 1; /*Cuando le haga hover a un elemento especifico, pone la opacidad en 1.*/
}

.Carrousel-item__img {
   width: 200px;
   height: 250px;
   object-fit: cover; /*Con esta propiedad haces que la imagen no se deforme ya que respeta su tamaño original*/
}

.Carrousel-item__details{
    background: linear-gradient(to top, rgb(0, 0, 0, 0.9) 0%, rgb(0, 0, 0, 0)  100%); /*Con este valor se pueden realizar degradados o desvanecidos*/
    font-size: 10px; /*Dimension de la letra*/ 
    opacity: 0;
    transition: 450ms opacity;
    padding: 10px;
    position: absolute;
    top: 180px;
    left: 0;
    right: 0;
    bottom: 0;
}

.Carrousel-item:hover .Carrousel-item__details {
    opacity: 1;
}

.Carrousel-item__details img{
    width: 20px;
}

.Carrousel-item__details--title{
    font-size:10px;
    font-weight: bold;
    color: #FFFFFF;
    line-height: 0;/*Espacio entre reglones*/
}

.Carrousel-item__details--subtitle{
    font-size: 7px;
    color: #FFFFFF;
}

.footer{
    background-color:#8F57FD;
    display: flex;
    align-items: center;
    height: 100px;
    width: 100%;
}

.footer a{
    color: white;
    cursor: pointer;
    font-size: 14px;
    padding-left: 30px;
    text-decoration: none;
}

.footer a:hover{
    text-decoration: underline;
}